#include <Windows.h>
#include "resource.h"

// Icon resources.
APPICON	ICON	"icon.ico"

// Sound resources.
SOUND_GAME_OVER_1    WAVE    "game_over_1.wav"
SOUND_POWER_UP       WAVE    "power_up.wav"
MUSIC_RETRO          WAVE    "retro.wav"
SOUND_START          WAVE    "start.wav"

// String resources.
STRINGTABLE
BEGIN
    IDS_EMPTY           L""
    IDS_APP_NAME        L"Snake Game"

    // English strings (Default).
    IDS_LANGUAGE        L"English"
    IDS_SPAN_1          L"This is snake game!"
    IDS_SPAN_2          L"Slide and eat fruit!"
    IDS_SPAN_3          L"There are too much fruit!"
    IDS_FRUIT_1         L"apple"
    IDS_FRUIT_2         L"blueberry"
    IDS_FRUIT_3         L"pineapple"
    IDS_FRUIT_4         L"grape"
    IDS_FRUIT_MSG_1     L"You ate a"
    IDS_FRUIT_MSG_2     L"You caught a"
    IDS_GAMEOVER        L"Game over"
    IDS_PAUSE           L"Game paused"
    IDS_PLAY            L"Play"
    IDS_SETTINGS        L"Settings"
    IDS_LEAVE_GAME      L"Leave game"
    IDS_EXIT            L"Exit"
    IDS_SCORE           L"Score"
    IDS_LAST_SCORE      L"Last Score"
    IDS_LANG_SELECT     L"Select your language"
    IDS_OK              L"OK"
    IDS_SETTINGS_LANG   L"Language"
    IDS_SETTINGS_SOUND  L"Sound"
    IDS_PLAY_AGAIN      L"Will you play again?"
    IDS_ENABLE          L"Enable"
    IDS_DISABLE         L"Disable"

    // Afrikaans strings.
    IDS_AF_LANGUAGE        L"Afrikaans"
    IDS_AF_SPAN_1          L"Dit is slangspeletjie!"
    IDS_AF_SPAN_2          L"Gly en eet vrugte!"
    IDS_AF_SPAN_3          L"Daar is te veel vrugte!"
    IDS_AF_FRUIT_1         L"appel"
    IDS_AF_FRUIT_2         L"bloubessie"
    IDS_AF_FRUIT_3         L"pynappel"
    IDS_AF_FRUIT_4         L"druif"
    IDS_AF_FRUIT_MSG_1     L"Jy het 'n ge\x00ebet"
    IDS_AF_FRUIT_MSG_2     L"Jy het 'n gevang"
    IDS_AF_GAMEOVER        L"Spel verby"
    IDS_AF_PAUSE           L"Spel is onderbreek"
    IDS_AF_PLAY            L"Speel"
    IDS_AF_SETTINGS        L"Instellings"
    IDS_AF_LEAVE_GAME      L"Los speletjie"
    IDS_AF_EXIT            L"Verlaat"
    IDS_AF_SCORE           L"Telling"
    IDS_AF_LAST_SCORE      L"Laaste telling"
    IDS_AF_LANG_SELECT     L"Kies jou taal"
    IDS_AF_OK              L"OK"
    IDS_AF_SETTINGS_LANG   L"Taal"
    IDS_AF_SETTINGS_SOUND  L"Klank"
    IDS_AF_PLAY_AGAIN      L"Sal jy weer speel?"
    IDS_AF_ENABLE          L"Aktiveer"
    IDS_AF_DISABLE         L"Deaktiveer"

    // Arabic strings.
    IDS_AR_LANGUAGE        L"\x0639\x0631\x0628\x064a"
    IDS_AR_SPAN_1          L"\x0647\x0630\x0647 \x0647\x064a \x0644\x0639\x0628\x0629 \x0627\x0644\x062b\x0639\x0628\x0627\x0646!"
    IDS_AR_SPAN_2          L"\x0627\x0644\x0627\x0646\x0632\x0644\x0627\x0642 \x0648\x0623\x0643\x0644 \x0627\x0644\x0641\x0627\x0643\x0647\x0629!"
    IDS_AR_SPAN_3          L"\x0647\x0646\x0627\x0643 \x0627\x0644\x0643\x062b\x064a\x0631 \x0645\x0646 \x0627\x0644\x0641\x0627\x0643\x0647\x0629!"
    IDS_AR_FRUIT_1         L"\x062a\x0641\x0627\x062d\x0629"
    IDS_AR_FRUIT_2         L".\x062a\x0648\x062a"
    IDS_AR_FRUIT_3         L"\x0623\x0646\x0627\x0646\x0627\x0633"
    IDS_AR_FRUIT_4         L"\x0639\x0646\x0628"
    IDS_AR_FRUIT_MSG_1     L"\x0623\x0643\x0644\x062a \x0623"
    IDS_AR_FRUIT_MSG_2     L"\x0644\x0642\x062f \x0642\x0628\x0636\x062a \x0639\x0644\x0649 \x0623"
    IDS_AR_GAMEOVER        L"\x0627\x0646\x062a\x0647\x062a \x0627\x0644\x0644\x0639\x0628\x0629"
    IDS_AR_PAUSE           L"\x062a\x0648\x0642\x0641\x062a \x0627\x0644\x0645\x0628\x0627\x0631\x0627\x0629"
    IDS_AR_PLAY            L"\x064a\x0644\x0639\x0628"
    IDS_AR_SETTINGS        L"\x0625\x0639\x062f\x0627\x062f\x0627\x062a"
    IDS_AR_LEAVE_GAME      L"\x0623\x062a\x0631\x0643 \x0627\x0644\x0644\x0639\x0628\x0629"
    IDS_AR_EXIT            L"\x0645\x062e\x0631\x062c"
    IDS_AR_SCORE           L"\x0646\x062a\x064a\x062c\x0629"
    IDS_AR_LAST_SCORE      L"\x0627\x0644\x0646\x062a\x064a\x062c\x0629 \x0627\x0644\x0623\x062e\x064a\x0631\x0629"
    IDS_AR_LANG_SELECT     L"\x0627\x062e\x062a\x0631 \x0644\x063a\x062a\x0643"
    IDS_AR_OK              L"\x0646\x0639\x0645"
    IDS_AR_SETTINGS_LANG   L"\x0644\x063a\x0629"
    IDS_AR_SETTINGS_SOUND  L"\x0635\x0648\x062a"
    IDS_AR_PLAY_AGAIN      L"\x0647\x0644 \x0633\x062a\x0644\x0639\x0628 \x0645\x0631\x0629 \x0623\x062e\x0631\x0649\x061f"
    IDS_AR_ENABLE          L"\x064a\x064f\x0645\x0643\x064e\x0650\x0646"
    IDS_AR_DISABLE         L"\x0625\x0628\x0637\x0627\x0644"

    // Chinese strings.
    IDS_ZH_LANGUAGE        L"\x4e2d\x56fd\x4eba"
    IDS_ZH_SPAN_1          L"\x8fd9\x662f\x8d2a\x5403\x86c7\x6e38\x620f\xff01"
    IDS_ZH_SPAN_2          L"\x4e00\x8fb9\x6ed1\x4e00\x8fb9\x5403\x6c34\x679c\xff01"
    IDS_ZH_SPAN_3          L"\x6c34\x679c\x592a\x591a\x4e86\xff01"
    IDS_ZH_FRUIT_1         L"\x82f9\x679c"
    IDS_ZH_FRUIT_2         L"\x84dd\x8393"
    IDS_ZH_FRUIT_3         L"\x83e0\x841d"
    IDS_ZH_FRUIT_4         L"\x8461\x8404"
    IDS_ZH_FRUIT_MSG_1     L"\x4f60\x5403\x4e86\x4e00\x4e2a"
    IDS_ZH_FRUIT_MSG_2     L"\x4f60\x6293\x5230\x4e86\x4e00\x4e2a"
    IDS_ZH_GAMEOVER        L"\x6e38\x620f\x7ed3\x675f"
    IDS_ZH_PAUSE           L"\x6e38\x620f\x6682\x505c"
    IDS_ZH_PLAY            L"\x73a9"
    IDS_ZH_SETTINGS        L"\x8bbe\x7f6e"
    IDS_ZH_LEAVE_GAME      L"\x79bb\x5f00\x6e38\x620f"
    IDS_ZH_EXIT            L"\x51fa\x53e3"
    IDS_ZH_SCORE           L"\x5206\x6570"
    IDS_ZH_LAST_SCORE      L"\x6700\x540e\x5f97\x5206"
    IDS_ZH_LANG_SELECT     L"\x9009\x62e9\x4f60\x7684\x8bed\x8a00"
    IDS_ZH_OK              L"\x597d\x7684"
    IDS_ZH_SETTINGS_LANG   L"\x8bed\x8a00"
    IDS_ZH_SETTINGS_SOUND  L"\x58f0\x97f3"
    IDS_ZH_PLAY_AGAIN      L"\x4f60\x4f1a\x518d\x73a9\x4e00\x6b21\x5417\xff1f"
    IDS_ZH_ENABLE          L"\x4f7f\x80fd\x591f"
    IDS_ZH_DISABLE         L"\x7981\x7528"

    // French strings.
    IDS_FR_LANGUAGE        L"Fran\x00e7ais"
    IDS_FR_SPAN_1          L"C'est un jeu de serpent\x00a0!"
    IDS_FR_SPAN_2          L"Glissez et mangez des fruits !"
    IDS_FR_SPAN_3          L"Il y a trop de fruits !"
    IDS_FR_FRUIT_1         L"pomme"
    IDS_FR_FRUIT_2         L"myrtille"
    IDS_FR_FRUIT_3         L"ananas"
    IDS_FR_FRUIT_4         L"raisin"
    IDS_FR_FRUIT_MSG_1     L"Tu as mang\x00e9 un"
    IDS_FR_FRUIT_MSG_2     L"Tu as attrap\x00e9 un"
    IDS_FR_GAMEOVER        L"Jeu termin\x00e9"
    IDS_FR_PAUSE           L"Jeu en pause"
    IDS_FR_PLAY            L"Jouer"
    IDS_FR_SETTINGS        L"Param\x00e8tres"
    IDS_FR_LEAVE_GAME      L"Quitter jeu"
    IDS_FR_EXIT            L"Sortie"
    IDS_FR_SCORE           L"Score"
    IDS_FR_LAST_SCORE      L"Dernier score"
    IDS_FR_LANG_SELECT     L"choisissez votre langue"
    IDS_FR_OK              L"D'ACCORD"
    IDS_FR_SETTINGS_LANG   L"Langue"
    IDS_FR_SETTINGS_SOUND  L"Son"
    IDS_FR_PLAY_AGAIN      L"Allez-vous rejouer ?"
    IDS_FR_ENABLE          L"Activer"
    IDS_FR_DISABLE         L"D\x00e9sactiver"

    // Japanese strings.
    IDS_JA_LANGUAGE        L"\x65e5\x672c\x8a9e"
    IDS_JA_SPAN_1          L"\x3053\x308c\x306f\x30b9\x30cd\x30fc\x30af\x30b2\x30fc\x30e0\x3067\x3059\xff01"
    IDS_JA_SPAN_2          L"\x6ed1\x3063\x3066\x30d5\x30eb\x30fc\x30c4\x3092\x98df\x3079\x3088\x3046\xff01"
    IDS_JA_SPAN_3          L"\x30d5\x30eb\x30fc\x30c4\x304c\x591a\x3059\x304e\x308b\xff01"
    IDS_JA_FRUIT_1         L"\x308a\x3093\x3054"
    IDS_JA_FRUIT_2         L"\x30d6\x30eb\x30fc\x30d9\x30ea\x30fc"
    IDS_JA_FRUIT_3         L"\x30d1\x30a4\x30ca\x30c3\x30d7\x30eb"
    IDS_JA_FRUIT_4         L"\x8461\x8404"
    IDS_JA_FRUIT_MSG_1     L"\x3042\x306a\x305f\x306f\x98df\x3079\x307e\x3057\x305f"
    IDS_JA_FRUIT_MSG_2     L"\x3042\x306a\x305f\x306f\x305d\x308c\x3092\x6355\x307e\x3048\x307e\x3057\x305f"
    IDS_JA_GAMEOVER        L"\x30b2\x30fc\x30e0\x30aa\x30fc\x30d0\x30fc"
    IDS_JA_PAUSE           L"\x30b2\x30fc\x30e0\x304c\x4e00\x6642\x505c\x6b62\x3055\x308c\x307e\x3057\x305f"
    IDS_JA_PLAY            L"\x904a\x3076"
    IDS_JA_SETTINGS        L"\x8a2d\x5b9a"
    IDS_JA_LEAVE_GAME      L"\x30b2\x30fc\x30e0\x3092\x96e2\x308c\x308b"
    IDS_JA_EXIT            L"\x51fa\x53e3"
    IDS_JA_SCORE           L"\x30b9\x30b3\x30a2"
    IDS_JA_LAST_SCORE      L"\x6700\x5f8c\x306e\x30b9\x30b3\x30a2"
    IDS_JA_LANG_SELECT     L"\x3042\x306a\x305f\x304c\x4f7f\x3046\x8a00\x8a9e\x3092\x9078\x3093\x3067\x304f\x3060\x3055\x3044"
    IDS_JA_OK              L"\x308f\x304b\x308a\x307e\x3057\x305f"
    IDS_JA_SETTINGS_LANG   L"\x8a00\x8a9e"
    IDS_JA_SETTINGS_SOUND  L"\x97f3"
    IDS_JA_PLAY_AGAIN      L"\x307e\x305f\x904a\x3073\x307e\x3059\x304b\xff1f"
    IDS_JA_ENABLE          L"\x6709\x52b9\x306b\x3059\x308b"
    IDS_JA_DISABLE         L"\x7121\x52b9\x306b\x3059\x308b"

    // Korean strings.
    IDS_KO_LANGUAGE        L"\xd55c\xad6d\xc778"
    IDS_KO_SPAN_1          L"\xc774\xac83\xc740 \xbc40 \xac8c\xc784\xc774\xb2e4!"
    IDS_KO_SPAN_2          L"\xc2ac\xb77c\xc774\xb4dc\xd558\xace0 \xacfc\xc77c\xc744 \xba39\xc5b4\xbcf4\xc138\xc694!"
    IDS_KO_SPAN_3          L"\xacfc\xc77c\xc774 \xb108\xbb34 \xb9ce\xc544\xc694!"
    IDS_KO_FRUIT_1         L"\xc0ac\xacfc"
    IDS_KO_FRUIT_2         L"\xbe14\xb8e8\xbca0\xb9ac"
    IDS_KO_FRUIT_3         L"\xd30c\xc778\xc560\xd50c"
    IDS_KO_FRUIT_4         L"\xd3ec\xb3c4"
    IDS_KO_FRUIT_MSG_1     L"\xb2f9\xc2e0\xc740 a\xb97c \xba39\xc5c8\xb2e4"
    IDS_KO_FRUIT_MSG_2     L"\xb2f9\xc2e0\xc740 \xc7a1\xc558\xc5b4\xc694"
    IDS_KO_GAMEOVER        L"\xac8c\xc784 \xb05d"
    IDS_KO_PAUSE           L"\xac8c\xc784\xc774 \xc77c\xc2dc\xc911\xc9c0\xb428"
    IDS_KO_PLAY            L"\xb180\xb2e4"
    IDS_KO_SETTINGS        L"\xc124\xc815"
    IDS_KO_LEAVE_GAME      L"\xac8c\xc784 \xb098\xac00\xae30"
    IDS_KO_EXIT            L"\xcd9c\xad6c"
    IDS_KO_SCORE           L"\xc810\xc218"
    IDS_KO_LAST_SCORE      L"\xb9c8\xc9c0\xb9c9 \xc810\xc218"
    IDS_KO_LANG_SELECT     L"\xc5b8\xc5b4\xb97c \xc120\xd0dd\xd558\xc138\xc694"
    IDS_KO_OK              L"\xc88b\xc544\xc694"
    IDS_KO_SETTINGS_LANG   L"\xc5b8\xc5b4"
    IDS_KO_SETTINGS_SOUND  L"\xc18c\xb9ac"
    IDS_KO_PLAY_AGAIN      L"\xb610 \xb180\xc544\xc904\xb798?"
    IDS_KO_ENABLE          L"\xd560 \xc218 \xc788\xac8c \xd558\xb2e4"
    IDS_KO_DISABLE         L"\xc7a5\xc560\xb97c \xc785\xd788\xb2e4"

    // Portuguese strings.
    IDS_PT_LANGUAGE        L"Portugu\x00eas"
    IDS_PT_SPAN_1          L"Este \x00e9 um jogo de cobra!"
    IDS_PT_SPAN_2          L"Deslize e coma frutas!"
    IDS_PT_SPAN_3          L"Tem muita fruta!"
    IDS_PT_FRUIT_1         L"ma\x00e7\x00e3"
    IDS_PT_FRUIT_2         L"mirtilo"
    IDS_PT_FRUIT_3         L"abacaxi"
    IDS_PT_FRUIT_4         L"uva"
    IDS_PT_FRUIT_MSG_1     L"Voc\x00ea comeu um"
    IDS_PT_FRUIT_MSG_2     L"Voc\x00ea pegou um"
    IDS_PT_GAMEOVER        L"Game Over"
    IDS_PT_PAUSE           L"Jogo pausado"
    IDS_PT_PLAY            L"Jogar"
    IDS_PT_SETTINGS        L"Configura\x00e7\x00f5es"
    IDS_PT_LEAVE_GAME      L"Deixar o jogo"
    IDS_PT_EXIT            L"Sa\x00edda"
    IDS_PT_SCORE           L"Pontua\x00e7\x00e3o"
    IDS_PT_LAST_SCORE      L"\x00daltima pontua\x00e7\x00e3o"
    IDS_PT_LANG_SELECT     L"selecione sua lingua"
    IDS_PT_OK              L"OK"
    IDS_PT_SETTINGS_LANG   L"Linguagem"
    IDS_PT_SETTINGS_SOUND  L"Som"
    IDS_PT_PLAY_AGAIN      L"Voc\x00ea vai jogar de novo?"
    IDS_PT_ENABLE          L"Habilitar"
    IDS_PT_DISABLE         L"Desativar"

    // Russian strings.
    IDS_RU_LANGUAGE        L"\x0420\x0443\x0441\x0441\x043a\x0438\x0439"
    IDS_RU_SPAN_1          L"\x042d\x0442\x043e \x0437\x043c\x0435\x0438\x043d\x0430\x044f \x0438\x0433\x0440\x0430!"
    IDS_RU_SPAN_2          L"\x0421\x043a\x043e\x043b\x044c\x0437\x0438\x0442\x0435 \x0438 \x0435\x0448\x044c\x0442\x0435 \x0444\x0440\x0443\x043a\x0442\x044b!"
    IDS_RU_SPAN_3          L"\x0421\x043b\x0438\x0448\x043a\x043e\x043c \x043c\x043d\x043e\x0433\x043e \x0444\x0440\x0443\x043a\x0442\x043e\x0432!"
    IDS_RU_FRUIT_1         L"\x044f\x0431\x043b\x043e\x043a\x043e"
    IDS_RU_FRUIT_2         L"\x0447\x0435\x0440\x043d\x0438\x043a\x0430"
    IDS_RU_FRUIT_3         L"\x0430\x043d\x0430\x043d\x0430\x0441"
    IDS_RU_FRUIT_4         L"\x0432\x0438\x043d\x043e\x0433\x0440\x0430\x0434"
    IDS_RU_FRUIT_MSG_1     L"\x0412\x044b \x0441\x044a\x0435\x043b\x0438"
    IDS_RU_FRUIT_MSG_2     L"\x0412\x044b \x043f\x043e\x0439\x043c\x0430\x043b\x0438"
    IDS_RU_GAMEOVER        L"\x0418\x0433\x0440\x0430 \x0437\x0430\x043a\x043e\x043d\x0447\x0435\x043d\x0430"
    IDS_RU_PAUSE           L"\x0418\x0433\x0440\x0430 \x043f\x0440\x0438\x043e\x0441\x0442\x0430\x043d\x043e\x0432\x043b\x0435\x043d\x0430"
    IDS_RU_PLAY            L"\x0418\x0433\x0440\x0430\x0442\x044c"
    IDS_RU_SETTINGS        L"\x041d\x0430\x0441\x0442\x0440\x043e\x0439\x043a\x0438"
    IDS_RU_LEAVE_GAME      L"\x0412\x044b\x0439\x0442\x0438 \x0438\x0437 \x0438\x0433\x0440\x044b"
    IDS_RU_EXIT            L"\x0412\x044b\x0445\x043e\x0434"
    IDS_RU_SCORE           L"\x0421\x0447\x0435\x0442"
    IDS_RU_LAST_SCORE      L"\x041f\x043e\x0441\x043b\x0435\x0434\x043d\x0438\x0439 \x0441\x0447\x0435\x0442"
    IDS_RU_LANG_SELECT     L"\x0412\x044b\x0431\x0435\x0440\x0438\x0442\x0435 \x0432\x0430\x0448 \x044f\x0437\x044b\x043a"
    IDS_RU_OK              L"\x0425\x041e\x0420\x041e\x0428\x041e"
    IDS_RU_SETTINGS_LANG   L"\x042f\x0437\x044b\x043a"
    IDS_RU_SETTINGS_SOUND  L"\x0417\x0432\x0443\x043a"
    IDS_RU_PLAY_AGAIN      L"\x0411\x0443\x0434\x0435\x0448\x044c \x043b\x0438 \x0442\x044b \x0438\x0433\x0440\x0430\x0442\x044c \x0435\x0449\x0435 \x0440\x0430\x0437?"
    IDS_RU_ENABLE          L"\x0414\x0430\x0432\x0430\x0442\x044c \x0432\x043e\x0437\x043c\x043e\x0436\x043d\x043e\x0441\x0442\x044c"
    IDS_RU_DISABLE         L"\x0417\x0430\x043f\x0440\x0435\x0449\x0430\x0442\x044c"

    // Spanish strings.
    IDS_ES_LANGUAGE         L"Espa\x00f1ol"
    IDS_ES_SPAN_1           L"\x00a1Esto es snake game!"
    IDS_ES_SPAN_2           L"\x00a1Desl\x00edzate y come fruta!"
    IDS_ES_SPAN_3           L"\x00a1Hay muchas frutas!"
    IDS_ES_FRUIT_1          L"manzana"
    IDS_ES_FRUIT_2          L"mora azul"
    IDS_ES_FRUIT_3          L"pi\x00f1a"
    IDS_ES_FRUIT_4          L"uva"
    IDS_ES_FRUIT_MSG_1      L"\x00a1Te comiste una"
    IDS_ES_FRUIT_MSG_2      L"\x00a1Atrapaste una"
    IDS_ES_GAMEOVER         L"Fin del juego"
    IDS_ES_PAUSE            L"Juego en pausa"
    IDS_ES_PLAY             L"Jugar"
    IDS_ES_SETTINGS         L"Configuraci\x00f3n"
    IDS_ES_LEAVE_GAME       L"Salir del juego"
    IDS_ES_EXIT             L"Salir"
    IDS_ES_SCORE            L"Puntuaci\x00f3n"
    IDS_ES_LAST_SCORE       L"\x00daltima puntuaci\x00f3n"
    IDS_ES_LANG_SELECT      L"Escoge tu idioma"
    IDS_ES_OK               L"Aceptar"
    IDS_ES_SETTINGS_LANG    L"Idioma"
    IDS_ES_SETTINGS_SOUND   L"Sonido"
    IDS_ES_PLAY_AGAIN       L"\x00bfJugar\x00e1s de nuevo?"
    IDS_ES_ENABLE           L"Habilitar"
    IDS_ES_DISABLE          L"Desabilitar"

    // Turkish strings.
    IDS_TR_LANGUAGE        L"T\x00fcrk\x00e7e"
    IDS_TR_SPAN_1          L"Bu y\x0131lan oyunu!"
    IDS_TR_SPAN_2          L"Kayd\x0131r\x0131n ve meyve yiyin!"
    IDS_TR_SPAN_3          L"\x00c7ok fazla meyve var!"
    IDS_TR_FRUIT_1         L"elma"
    IDS_TR_FRUIT_2         L"Yabanmersini"
    IDS_TR_FRUIT_3         L"ananas"
    IDS_TR_FRUIT_4         L"\x00fcz\x00fcm"
    IDS_TR_FRUIT_MSG_1     L"Sen yedin"
    IDS_TR_FRUIT_MSG_2     L"Bir yakalad\x0131n"
    IDS_TR_GAMEOVER        L"Oyun bitti"
    IDS_TR_PAUSE           L"Oyun duraklat\x0131ld\x0131"
    IDS_TR_PLAY            L"Oynamak"
    IDS_TR_SETTINGS        L"Ayarlar"
    IDS_TR_LEAVE_GAME      L"Oyunu terk et"
    IDS_TR_EXIT            L"\x00e7\x0131k\x0131\x015f"
    IDS_TR_SCORE           L"Gol"
    IDS_TR_LAST_SCORE      L"Son Puan"
    IDS_TR_LANG_SELECT     L"Dilinizi se\x00e7iniz"
    IDS_TR_OK              L"TAMAM"
    IDS_TR_SETTINGS_LANG   L"Dil"
    IDS_TR_SETTINGS_SOUND  L"Ses"
    IDS_TR_PLAY_AGAIN      L"Tekrar oynayacak m\x0131s\x0131n?"
    IDS_TR_ENABLE          L"Olanak vermek"
    IDS_TR_DISABLE         L"Devre d\x0131\x015f\x0131 b\x0131rakmak"

END

/*
 *	End Of File
*/
